<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link
        href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700'
        rel='stylesheet' type='text/css'>
    </head>
    <body>

      {{ content }}
      <div id="title">
        <a href="/"><h1>mb</h1></a>
        <a href="https://github.com/michellebu">Fork.</a> 
        <a href="https://twitter.com/hazelcough">Tweet.</a> 
        <a href="mailto:michelle@michellebu.com">Snail mail.</a>
      </div>

    </body>
</html>
